<!DOCTYPE html>
<html>
<head>
    <title>Delete User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h2>User</h2>
<table>
        <tr>
            <td>Id: <td>${user.id}</td>
		</tr>
        <tr>
            <td>Username: <td><td>${user.username}</td>
		</tr>
        <tr>
            <td>Email: <td><td>${user.email}</td>
		</tr>
        <tr>
            <td><input type="button" value="Back" onclick=""></a></td><td><input type="button" value="Delete"></a></td>
		</tr>
        <tr>
            
        </tr>
</table>
</body>
</html>